# Maven #
target/

mall-portal\src\main\java\com\macro\mall\portal\config\AlipayClientConfig
mall-portal\src\main\java\com\macro\mall\portal\config\AlipayConfig

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project


document/


README.md